

.infohead {
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 2px;
    /* margin-top: 2px; */
}

/* .etDatePicker {
    height: 30; 
    margin-Bottom: 5px; 
    width: "105%";
} */

.explain {
  margin-top: 20px;
  margin-bottom: 10px; 
  font-Size: 16px; 
  font-Weight: 400;
}

.mobileExplain {
    display: none;
}

.tree-select-class{
    width: 100%;
}

/* display: "block", marginTop: 10, marginBottom: 1, textTransform: 'capitalize' */
.inboxTitle{
    margin-top: 10px;
    margin-bottom: 1px;
    /* text-transform: capitalize; */
    display: block;
    /* padding-bottom: 3px; */

}

@media only screen and (max-width: 1000px) {
    .mobileExplain {
        display: block;
    }
  }

.infoheadDate{
    margin-bottom: 10px;
    margin-top: 10px;
}





.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background: #fff;
    /* border-radius: 6px; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    z-index: 1000;

    border-radius: 20px;
    /* border: solid 1.5px gray;
    box-shadow: 22px 0 15px -4px  #000000, -10px 0 8px -4px #000000; */
    -webkit-box-shadow: 10px -1px 67px 19px rgba(0,0,0,0.18);
-moz-box-shadow: 10px -1px 67px 19px rgba(0,0,0,0.18);
box-shadow: 10px -1px 67px 19px rgba(0,0,0,0.18);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
 }

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.status_popup{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  min-height: 300px;
  background: #fff;
  /* border-radius: 6px; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  z-index: 1000;

  border-radius: 20px;
  /* border: solid 1.5px gray;
  box-shadow: 22px 0 15px -4px  #000000, -10px 0 8px -4px #000000; */
  -webkit-box-shadow: 10px -1px 67px 19px rgba(0,0,0,0.18);
-moz-box-shadow: 10px -1px 67px 19px rgba(0,0,0,0.18);
box-shadow: 10px -1px 67px 19px rgba(0,0,0,0.18);
}

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }



  
  .category {
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid rgba(100, 100, 100, 0.8);
    border-radius: 5px;
    padding: 0px 10px;
    transition: all 200ms ease-in-out;
    margin-bottom: 1px;
    margin-top: 5px;
    
    &::placeholder {
        color: rgba(200, 200, 200, 1);
    }
    
    &:focus {
        outline: none;
        border-bottom: 1px solid rgba(241, 196, 15, 1);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
  }


  .wrapper {
    position:relative;
  }
  
  .icon {
    /* height: 1.5rem;
    width: 1.5rem; */
    /* background-color: red; */
    padding: 4px;
    position: absolute;
    /* box-sizing:border-box; */
    top:50%;
    left:2px;
    
    transform: translateY(-50%);
    color: rgba(200, 200, 200, 1)
  }
  
  /* .input {
    height: 50px;
    box-sizing:border-box;
    padding-left: 1.5rem;
  } */

  .input1 {
    /* box-sizing:border-box; */
    /* padding-left: 1.8rem; */
    left:2px;

    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid rgba(100, 100, 100, 0.8);
    border-radius: 5px;
    /* padding: 0px 10px; */
    padding-left: 1.7rem;
    transition: all 200ms ease-in-out;
    margin-bottom: 1px;
  }
  
  .input1::placeholder {
    color: rgba(200, 200, 200, 1);
    /* padding-left: 1.8rem; */
  }
  
  .input1:focus {
    outline: none;
    border-bottom: 1px solid rgba(241, 196, 15, 1);
    /* padding-left: 1.5rem; */
  }


/* .input2 {
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid rgba(100, 100, 100, 0.8);
    border-radius: 5px;
    padding: 0px 10px;
    transition: all 200ms ease-in-out;
    margin-bottom: 1px;
  
    &::placeholder {
      color: rgba(200, 200, 200, 1);
    }
  
    &:focus {
      outline: none;
      border-bottom: 1px solid rgba(241, 196, 15, 1);
    }
  } */

  .input3 {

    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(100, 100, 100, 0.8);
    border-radius: 5px;
    padding: 10px;
    padding-left: 2rem;
    transition: all 200ms ease-in-out;
    margin-bottom: 1px;
  }

  
  .error{
    border: 1px solid rgba(247, 3, 3, 0.8);
  }


  .ticketContainer{
     display: flex;
     align-items: center;
  }

  @media only screen and (max-width: 1000px) {
    .ticketContainer{
      display: block;
      align-items: center;
   }
  }


  @media only screen and (max-width: 700px) {
    .tree-select-class { /* Replace with your actual class name */
      width: 100%;
    }
    .infoheadDate{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .status_popup{
        min-width: 350px;
    }
  }